:root {
  --text-color-primary: #181818;
  --text-color-secondary: #ffffff;
  --color-horror-primary: #8B0000;
  --color-background: var(--text-color-secondary);
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-primary);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: url("../assets/jpg/homepage-game-mobile.webp");
  background-image: url('../assets/jpg/homepage-game-dektop.webp');
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}